# Test results of 3 sort algorythms

## MergerSort

- Elements: 1000
Recurse iteration: 10721
Array operations: 1497137
- Elements: 10000
Recurse iteration: 140485
Array operations: 149972944

## BubbleSort

- 1000 - Count: 514108
- 10000 - Count: 50058403
- 100000 - Count: 705637216

## ChoiceSort

- 1000 - Count: 505266
- 10000 - Count: 50066246
- 100000 - Count: 705715507
